* {
    box-sizing: border-box;
}

body {
    background-color: #c8dce7;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-family: Helvetica;
    font-size: 64px;
    font-weight: bold;
    color: #45968b;
    text-shadow: 4px 4px 4px #929292;
    text-align: center;

    margin: 40px 0px;
}

.container {
    width: 1024px;

    margin-top: 64px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.carta {
    width: 116px;
    height: 152px;
    margin: 24px 16px;

    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #a7e9af;
    border: 1px solid #121212;
    border-radius: 16px;
    box-shadow: 4px 4px 4px #606060;
    transition: all 0.2s ease-in-out;
}

.virada:hover, .selecionada {
    transform: scale(1.2, 1.2);
}

.virando {
    transform: scale(0, 1.2);
}

.carta > img {
    width: 100%;
    object-fit: cover;
}

.contador {
    width: 200px;
    height: 64px;
    position: absolute;
    top: 32px;
    right: 32px;

    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: #28554f;
    text-align: center;
}

@media (max-width: 1024px) {

    .container {
        width: 100%;
    }
}

@media (max-width: 614px) {

    .titulo {
        font-size: 42px;
        margin: 16px 0px;
    }

    .container {
        height: auto;
        position: absolute;
        top: 128px;
        bottom: 0px;
        margin: 0px;

        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: start;
        overflow: scroll;
    }

    .carta {
        min-width: 142px;
        min-height: 200px;
        width: 142px;
        height: 200px;
    }

    .virada:hover, .selecionada {
        transform: scale(1, 1);
    }

    .virando {
        transform: scale(0, 1);
    }

    .contador {
        width: 64px;
        height: 32px;
        top: 92px;
        right: 16px;

        font-size: 24px;
        text-align: end;
    }
}